<!DOCTYPE html>
<html>
<head>
<title>Test</title>
<meta charset="utf-8" />
<script src="vue.js"></script>
<script src="main.js" type="module"></script>
<style>
.noselect {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
svg text::selection {
    background: none;
}
</style>
</head>
<body>
<div id="app">
    <img
        v-for="(choice, choice_i) in selected_choices"
        :src="choice.src"
        style="display:none"
    />


    <div id="menu-container" v-if="ready">
        <svg-option 
            v-if="ready"
            style="width: 30%"
            v-for="(choice, choice_i) in choices"
            v-bind:key="choice.id"
            v-bind:text="choice.text"
            v-bind:src="choice.src"
            @select="on_choice_select(choice.id, $event)"
        ></svg-option>
    </div>



    <!--<svg 
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
        style="background:#FFCC00; width:100%; height:100%" viewBox="0 0 1440 2560" v-show="!show_result"
        v-if="ready"
    >
        <defs>
            <linearGradient id="top-gradient" gradientTransform="rotate(90)">
                <stop offset="5%"  stop-color="#CC0000FF"/>
                <stop offset="95%" stop-color="#FFCC0000"/>
            </linearGradient>
            
            <filter id="filter-greyscale">
                <feColorMatrix type="saturate" values="0.10"/>
            </filter>
        </defs>
        

        <g
            v-on:mousedown="on_menu_touchstart"
            v-on:touchstart="on_menu_touchstart"
            v-on:touchend="on_menu_touchend"
            v-on:touchmove="on_menu_touchmove"
            v-on:touchcancel="on_menu_touchcancel"
        >
            <animateTransform
                attributeName="transform"
                attributeType="XML"
                type="translate"
                v-bind:by="'0 ' + (2560-Math.ceil(choices.length/3)*480)"
                dur="120s"
            />
            <svg-option 
                v-for="(choice, choice_i) in choices"
                v-bind:key="choice.id"
                v-bind:x="(choice_i % 3)*480"
                v-bind:y="Math.floor(choice_i / 3)*480"
                v-bind:text="choice.text"
                v-bind:src="choice.src"
                @select="on_choice_select(choice.id, $event)"
            ></svg-option>
        </g>

        <g>
            <rect x="0" y="0" width="1440" height="480" fill="url(#top-gradient)" />
                
        </g>

        <svg-button x="700" y="2000" text="完成选择" v-on:click="on_finished"></svg-button>

    </svg>-->




    <svg style="background:#FFCC00; width:100%; height:100%" viewBox="0 0 1440 2560" xmlns="http://www.w3.org/2000/svg" version="1.1" v-show="show_result" v-if="ready">
        <image
            v-for="(choice, choice_i) in selected_choices"
            v-bind:x="(choice_i % 4)*200"
            v-bind:y="Math.floor(choice_i / 4)*250"
            width="200" height="200"
            :xlink:href="choice.src"
        />
    </svg>

</div>
</body>
</html>
